<html>
<head>
    <title>IReadit</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="/css/PageStyle.css">
    <link rel="icon" type="image/png" href="/images/favicon.png">
</head>
<body>

    <nav>
		<a href="/home" class="heading">IReadit</a>
		<ul type="none" class="navbar-ul">
			<li class="nav-item nav-head" id="Home"><a href="/home" class="nav-spacing">Home</a></li>
			<li class="nav-item" id="Toplinks"><a href="/toplinks">Top Links</a></li>
			<li class="nav-item" id="Trending"><a href="/home/trending">Trending</a></li>
			<li class="nav-item" id="Follower"><a href="/home/following">Following</a></li>
			<li class="nav-item nav-tail" id="Profile"><a href="/u/{{ username }}">Profile</a></li>
		</ul>
	</nav>


    <div class="page">

        <hr width="3" size="1080" class="verticalline">	

        <div class="content">
            <h1 class="subheading">Users following {{ username }}</h1>
            
            <ul type="none">
                {% for followingUser in following %}
                
                    <a href = "/u/{{ followingUser }}">
                        <h4>{{ followingUser }}</h4><br>
                    </a>
                
                {% endfor %}
            </ul>
        </div>
    </div>

</body>
</html>

