{{ ErrorCode }}
<form method="POST">
    Username: <input name="username" type="text">
    Password: <input name="password" type="password">
    <input name="Submit" type="Submit" value="Submit">
</form>
<br>
Not a member already? <a href="signup">Sign up!</a>
